@import "../includes/variables";

.page_connect {
  h1, h2, h3, h4 {
    text-align: left;
    &:first-child { padding-top: 0.5em; }
  }
  &.content {
    padding-bottom: 0;

    p {
      text-align: left;
      padding-left:  0;
      padding-right: 0;
    }

    img {
      padding: 50px 100px;
      @media (max-width: 400px) { padding: 50px; }
    }
  }

  @media (max-width: ($page-width - 100px)) {
    .grid__item {
      width: 100%;
    }
    &.content {
      padding-bottom: 2em;
      * { text-align: center !important; }
    }
  }
}


