.page_connect {
  h1, h2, h3, h4 {
    text-align: left;
    &:first-child { padding-top: 0.5em; }
  }
  &.content {
    padding-bottom: 0;

    p {
      text-align: left;
      padding-left:  0;
      padding-right: 0;
    }

    img {
      padding: 50px 100px;
    }
  }
}