.page_whatwedo {
  margin-top: 1em;


  .row_top {
    position: relative;
    //height: 550px;
    margin-bottom: -40px;
  }
  .row_middle {
    position: relative;
    padding-top: 2em;
    margin: auto;
  }
  .row_bottom {
    padding-top: 2em;
    width: 60%;
    margin: auto;
  }


  .arrow-curved-right {
    bottom: 0;
    right:  0;
  }
  .arrow-curved-left {
    bottom: 0;
    left:   0;
  }

  .arrow-curved-right {
    bottom: 50px;
    right:  180px;
  }
  .arrow-curved-left {
    bottom: 50px;
    left:   180px;
  }
}

.arrow-curved-right,
.arrow-curved-left {
  position: absolute;
  width:  (293px/2);
  height: (258px/2);
  background-size: (293px/2) (258px/2);
  background-color: transparent;
}
.arrow-curved-right {
  background-image: url("/img/pages/arrow-curved-right.jpg");
}
.arrow-curved-left {
  background-image: url("/img/pages/arrow-curved-left.jpg");
}



.banner {
  width:      490px;
  height:     100px;

  margin:      auto;
  margin-top:  40px;

  color:       #ffffff;
  font-family: lobster,cursive;

  padding-top: 15px;
  font-size:   30px;
  text-align:  center;

  background: url(/svg/banner.svg);
  z-index: 2;
  position: relative;
}

.circle {
  position: relative;
  display: flex;
  background: black;
  color: white;

  text-align: center;

  border-radius: 50%;
  margin: auto;

  align-items: center;
  justify-content: center;

  .inner {
    flex: 0 0 auto;
    max-width: 50%;
  }


//  &.gradient {
//    color: #333;
//    background-image: radial-gradient(circle farthest-corner at 47px 47px, yellow 0%, orange 100%, red 95%);
//  }

  &.spinning {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
  }

  ul {
    list-style-type: disc;
  }
}

.circle-top {
  width:  300px;
  height: 300px;
  .inner { max-width: 50%; }
}
.circle-left {
  width:  490px;
  height: 490px;
  .inner { max-width: 80%; }
}
.circle-right {
  width:  490px;
  height: 490px;
  .inner { max-width: 80%; }
}
