.page_whatwedo {
  .content {
    padding-top: 1em;
  }


  .row_top {
    position: relative;
    //height: 550px;
    margin-bottom: -40px;
  }
  .row_middle {
    position: relative;
    padding-top: 2em;
    margin: auto;
  }
  .row_bottom {
    padding-top: 2em;
    width: 60%;
    margin: auto;
  }


  .arrow-curved-right {
    bottom: 0;
    right:  0;
  }
  .arrow-curved-left {
    bottom: 0;
    left:   0;
  }

  .arrow-curved-right {
    bottom: 50px;
    right:  180px;
  }
  .arrow-curved-left {
    bottom: 50px;
    left:   180px;
  }
}

.arrow-curved-right,
.arrow-curved-left {
  position: absolute;
  width:  (293px/2);
  height: (258px/2);
  background-size: (293px/2) (258px/2);
  background-color: transparent;
}
.arrow-curved-right {
  background-image: url("/img/pages/arrow-curved-right.jpg");
}
.arrow-curved-left {
  background-image: url("/img/pages/arrow-curved-left.jpg");
}