.banner {
  max-width:  490px;
  height:     100px;

  margin:      auto;
  margin-top:  40px;

  color:       #ffffff;
  font-family: lobster,cursive;

  padding-top: 15px;
  font-size:   30px;
  text-align:  center;

  z-index: 2;
  position: relative;




  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-image: url(/svg/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
;
}
