.circle {
  position: relative;
  display: flex;
  background: black;
  color: white;

  text-align: center;

  border-radius: 50%;
  margin: auto;


  align-items: center;
  justify-content: center;

  .inner {
    flex: 0 0 auto;
    max-width: 70px;

    p {
      padding: 0.5em 0;
    }

    ul, li {
      padding: 0;
      margin:  0;
    }
  }


  //  &.gradient {
  //    color: #333;
  //    background-image: radial-gradient(circle farthest-corner at 47px 47px, yellow 0%, orange 100%, red 95%);
  //  }

  &.spinning {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
  }

  ul {
    list-style-type: disc;
  }
}

.circle-top {
  max-width:  300px;
  min-height: 300px;
  .inner { max-width: 50%; }
  @media (max-width: 300px) { border-radius: 35%; margin: 0 1em; }
}
.circle-right,
.circle-left {
  max-width:  490px;
  min-height: 490px;
  .inner { max-width: 80%; }

  @media (max-width: 490px) { border-radius: 35%; margin: 0 1em; }
}

