@font-face {
  font-family: "basiccontrols";
  src: url("/fonts/cssslider/basiccontrols.eot");
  src: url("/fonts/cssslider/basiccontrols.eot#iefix") format("embedded-opentype"),
  url("/fonts/cssslider/basiccontrols.woff") format("woff"),
  url("/fonts/cssslider/basiccontrols.ttf") format("truetype"),
  url("/fonts/cssslider/basiccontrols.svg#basic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.csslider1 {
  *, *:before, *:after {
    box-sizing: content-box;
  }

  &, li, img {
    width: 1040px;
    height: (1040 * 2/3)px;
  }

  cite {
    display: block;
    font-size: 80%;
  }
}

.csslider1 > ul > .slide {

  -webkit-transition:
    opacity (2000ms/2) ease,
    -webkit-transform (24000ms/2) cubic-bezier(0.840, 0.970, 0.855, 1.000);

  transition:
    opacity (2000ms/2) ease,
    -webkit-transform (24000ms/2) cubic-bezier(0.840, 0.970, 0.855, 1.000),
            transform (24000ms/2) cubic-bezier(0.840, 0.970, 0.855, 1.000);
}



.csslider1 > #cs_play1:checked ~ ul > .slide.num0 {
  -webkit-animation: kenburnsBL (32000ms/2) infinite (-2000ms/2) linear;
  animation: kenburnsBL (32000ms/2) infinite (-2000ms/2) linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num1 {
  -webkit-animation: kenburnsBR (32000ms/2) infinite (6000ms/2) linear;
  animation: kenburnsBR (32000ms/2) infinite (6000ms/2) linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num2 {
  -webkit-animation: kenburnsTL (32000ms/2) infinite (14000ms/2) linear;
  animation: kenburnsTL (32000ms/2) infinite (14000ms/2) linear;
}
.csslider1 > #cs_play1:checked ~ ul > .slide.num3 {
  -webkit-animation: kenburnsBL (32000ms/2) infinite (22000ms/2) linear;
  animation: kenburnsBL (32000ms/2) infinite (22000ms/2) linear;
}

