@font-face {
  font-family: "basiccontrols";
  src: url("/fonts/cssslider/basiccontrols.eot");
  src: url("/fonts/cssslider/basiccontrols.eot#iefix") format("embedded-opentype"),
  url("/fonts/cssslider/basiccontrols.woff") format("woff"),
  url("/fonts/cssslider/basiccontrols.ttf") format("truetype"),
  url("/fonts/cssslider/basiccontrols.svg#basic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.csslider1 {
  *, *:before, *:after {
    box-sizing: content-box;
  }

  &, li, img {
    width: 1040px;
    height: (1040 * 2/3)px;
  }

  cite {
    display: block;
    font-size: 80%;
  }
}