@import "../includes/variables";

ul.portfolio,
ul.portfolio.portfolio-3col {
  text-align: center;
  padding: 0 20px;
  margin:  auto;

  display: flex;
  flex-wrap: wrap;

  li {
    display: block;
    padding: 5px;
    margin:  auto;

    a.background-image {
      box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);
      border-radius: 20px;

      &:hover {
        box-shadow: 0px 0px 10px 10px rgba(64,64,64,1);
      }
    }
    &.full-row {
      &, .background-image {
        width: 940px;
        background-size: auto;
      }
    }

    .background-image {
      border: 1px solid #000000;
      display: block;
      width:   300px;
      height:  300px;

      margin:  10px;
      padding: 10px;

      background-position: 50% 50%;
      background-size: 300px 300px;
      background-repeat: no-repeat;

      &.nostretch {
        background-size: auto;
      }

      .overlay {
        text-align: left;
        float: left;
        font-weight: bold;
        font-size: 20px;
        color: #000000;
        background: #ffffff;
        opacity: 0.8;
        display: inline-block;
        padding: 0.25em;

        .role {
          opacity: 1.2;
          font-weight: normal;
          font-size: 90%;
        }
      }
    }
  }
}
ul.portfolio.portfolio-2col {
  .background-image {
    width:  460px;
    height: 460px;
    background-size: 460px 460px;
  }
}
ul.portfolio.portfolio-1col {
  .background-image {
    width:  960px;
    height: 960px;
    background-size: 960px 960px;
  }
}


ul.portfolio.union {
  padding: 0;
  margin:  auto;
  width:   900px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,1);

  &:hover{
    box-shadow: 0px 0px 10px 10px rgba(64,64,64,1);
  }

  .background-image {
    margin:  0;
    box-shadow: none;
    border-radius: 0;
    &, &:hover { box-shadow: none; }
  }

  li {
    padding: 0;
    margin: 0;
  }

  li:first-child .background-image {
    border-top-left-radius:    20px;
    border-bottom-left-radius: 20px;
  }
  li:last-child .background-image {
    border-top-right-radius:    20px;
    border-bottom-right-radius: 20px;
  }
}


@media (max-width: $page-width) {
  ul.portfolio {
    padding: 0;
  }
  ul.portfolio.union {
    width:   300px;

    li:first-child .background-image {
      border-top-left-radius:     20px;
      border-top-right-radius:    20px;
      border-bottom-left-radius:  0;
      border-bottom-right-radius: 0;
    }
    li:last-child .background-image {
      border-top-left-radius:     0;
      border-top-right-radius:    0;
      border-bottom-left-radius:  20px;
      border-bottom-right-radius: 20px;
    }
  }
}