.sidemenu {
  position: absolute;
  top:  100px;
  left: -250px;
  width: 300px;
  background: white;
  border: 10px solid black;
  padding-bottom: 1em;

  h1, h2, h3, h4 {
    font-size: 25px;
  }



  ul {
    margin:  0;
    padding: 0;

    li {
      margin:  0;
      padding: 0.25em;
      text-align: center;
      list-style: none;
    }
  }
}