@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: local("Jura Regular"), local("Jura-Regular"), url("http://fonts.gstatic.com/s/jura/v7/1sCPU5CVs39F-CcTHpNRm_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url("http://fonts.gstatic.com/s/lobster/v12/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}
