// Casper overrides
.template-footer,
.template-header {
  @import "../includes/elements"; // required to make casper blog work
  @import "../widgets/navmenu";   // required to make casper blog work

  letter-spacing: 0;
  text-indent:    0;
  line-height:    1em;
  font-family: Arial,Helvetica,sans-serif;
  font-size:   20px;
  font-family: jura,sans-serif;

  p, ul, ol, dl {
    margin: 0;
  }
}
.template-footer,
.template-header {
  &, h1, h2 { color: white; }
  background: black;
  text-align: center;
}
.template-content {
  padding-bottom: 3em;
  background: #EEE;

  .content {
    background: white;
    padding-bottom: 2em;
  }
}

.page_connect,
.template-header {
  h1         { padding: 20px 0 10px 0; font-family: lobster,cursive; }
  h2, h3, h4 { padding: 10px 0; }
}
.template-content { h1, h2, h3, h4 {
  &:first-child { padding-top: 1em; }
} }
.page_portfolio_item { h1, h2, h3, h4 { font-family: jura,sans-serif; }}
