@import "variables";


*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width:  100%;

  margin:  0;
  padding: 0;

  font-family: Arial,​Helvetica,​sans-serif;
  font-size:   20px;
  font-family: jura,​sans-serif;
}

// http://ryanfait.com/sticky-footer/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.sticky-footer-wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.template-footer, .sticky-footer-pusher {
  height: 100px; /* .push must be the same height as .footer */
}
// http://ryanfait.com/sticky-footer/




.content {
  max-width: $page-width;
  margin: auto;
  position: relative;
}